<div class="container">
    <div class="row">
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(condition) ,'background-size': '100% 100%' }">
                <div [ngSwitch]="switchInput" >
                  <div *ngSwitchCase="'edit'">
                    <input type="text" class="form-control form-control-sm" placeholder="City Name" id=1 #panel1 (keyup.enter)="OnInput($event, panel1.id)">
                    <small class="form-text text-white text-center" >Press 'Enter'</small>
                  </div>
                  <div *ngSwitchCase="'weather'">
                    <div  class="text-center">
                      <div>{{WeatherData[1].name}}</div>
                      <div>{{WeatherData[1].temp_celcius}}°</div>
                      <div>{{WeatherData[1].temp_min}}° / {{WeatherData[1].temp_max}}°</div>
                      <div>Weather Condition: {{WeatherData[1].weather[0].main}}</div>
                      <div>Feels Like: {{WeatherData[1].temp_Feels_Like}}°</div>
                      <div>Humidity: {{WeatherData[1].main.humidity}}%</div>
                    </div>
                    <br>
                    <button class="btn btn-outline-light btn-sm" type="button" (click)="toggleSwitch()">Edit Location</button>
                  </div>
                  <div *ngSwitchCase="'error'" class="text-center">
                  <span> Wrong city name </span>
                  <br>
                  <br>
                  <button class="btn btn-outline-light btn-sm" type="button" (click)="toggleSwitch()">Edit Location</button>        
                  </div>
                  <div *ngSwitchDefault>
                    <button type="button" class="btn btn-primary" (click)="toggleSwitch()">Select Location</button>
                  </div>
                </div> 
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child2.condition) ,'background-size': '100% 100%' }">  
                <app-weather #child2></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child3.condition) ,'background-size': '100% 100%' }">
                <app-weather #child3></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child4.condition) ,'background-size': '100% 100%' }">
                <app-weather #child4></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child5.condition) ,'background-size': '100% 100%' }">
                <app-weather #child5></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child6.condition) ,'background-size': '100% 100%' }">
                <app-weather #child6></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child7.condition) ,'background-size': '100% 100%' }">
                <app-weather #child7></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child8.condition) ,'background-size': '100% 100%' }">
                <app-weather #child8></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child9.condition) ,'background-size': '100% 100%' }">
                <app-weather #child9></app-weather>
              </div>
    </div>
</div>

