<div class="container">
    <div class="row">
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child.condition) ,'background-size': '100% 100%' }">
                <app-weather #child></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child2.condition) ,'background-size': '100% 100%' }">  
                <app-weather #child2></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child3.condition) ,'background-size': '100% 100%' }">
                <app-weather #child3></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child4.condition) ,'background-size': '100% 100%' }">
                <app-weather #child4></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child5.condition) ,'background-size': '100% 100%' }">
                <app-weather #child5></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child6.condition) ,'background-size': '100% 100%' }">
                <app-weather #child6></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child7.condition) ,'background-size': '100% 100%' }">
                <app-weather #child7></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child8.condition) ,'background-size': '100% 100%' }">
                <app-weather #child8></app-weather>
              </div>
              <div class="col border p-3 mb-2 bg-primary text-white" [ngStyle]="{'background-image': getUrl(child9.condition) ,'background-size': '100% 100%' }">
                <app-weather #child9></app-weather>
              </div>
    </div>
</div>

