<div [ngSwitch]="switchInput" >
    <div *ngSwitchCase="'edit'">
      <input type="text" class="form-control form-control-sm" placeholder="City Name" (keyup.enter)="OnInput($event)">
      <small class="form-text text-white text-center">Press 'Enter'</small>
    </div>
    <div *ngSwitchCase="'weather'">
      <div  class="text-center">
        <div>{{WeatherData.name}}</div>
        <div>{{WeatherData.temp_celcius}}°</div>
        <div>{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>
        <div>Weather Condition: {{WeatherData.weather[0].main}}</div>
        <div>Feels Like: {{WeatherData.temp_Feels_Like}}°</div>
        <div>Humidity: {{WeatherData.main.humidity}}%</div>
      </div>
      <br>
      <button class="btn btn-outline-light btn-sm" type="button" (click)="toggleSwitch()">Edit Location</button>
    </div>
    <div *ngSwitchCase="'error'" class="text-center">
    <span> Wrong city name </span>
    <br>
    <br>
    <button class="btn btn-outline-light btn-sm" type="button" (click)="toggleSwitch()">Edit Location</button>        
    </div>
    <div *ngSwitchDefault>
      <button type="button" class="btn btn-primary" (click)="toggleSwitch()">Select Location</button>
    </div>
  </div> 